language: python
python:
        - "3.6"

before_install:
  - deactivate  # Deactivate virtualenv
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
install:
  - conda create -q -y -n magnics-test -c conda-forge python=$TRAVIS_PYTHON_VERSION fenics pytest
  - source activate magnics-test

# command to run tests
script:
  - py.test
